body{
    background-color: #595959;
    margin : 0;
    padding: 0;
}

.mainBlock{
    background-color: #404040;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;

}

.topBlock{
    height: 10vh;
    border: #262626;
    border-style: solid;
}

.middleBlock{
 display: flex;
}

.leftBlock{
    height: 100vh;
    border: #262626;
    border-style: solid;
    width: 30%;
}

.rightBlock{
    height: 100vh;
    border: #262626;
    border-style: solid;
    width: 100%;

}
