body{
    background-color: #595959;
    margin : 0;
    padding: 0;
}

.mainBlock{
    background-color: #404040;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;

}

.topBlock{
    height: 10vh;
    border: #262626;
    border-style: solid;
}

.middleBlock{
 display: flex;
}

    .leftBlock{
        height: 90vh;
        border: #262626;
        border-style: solid;
        /* border-width: 1px; */
        width: 30%;
        flex-direction: column;
    }

        .itemL{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn {
            -webkit-border-radius: 5;
            -moz-border-radius: 5;
            border-radius: 5px;
            font-family: Courier New;
            color: #000000;
            font-size: 20px;
            background: #595959;
            padding: 3% 40% 3% 5%;
            margin : 5%;
            border-style: none;
        }
        
        /* .btn:hover {
        background: #737373;
        }    */


    .rightBlock{
        height: 90vh;
        border: #262626;
        border-style: solid;
        width: 100%;

    }
